:host {
  flex: 1;
}

.board-column {
  box-sizing: border-box;
  background: #eee;
  border-radius: 5px;
  margin-right: 10px;
  height: 100%;

  box-shadow: 2px 2px 5px #b2b2b2;

  display: flex;
  flex-direction: column;

  .title {
    display: flex;
    align-items: center;
    padding: 5px;
    font-weight: 700;
    font-size: 1rem;

    .tasks-count {
      margin-left: auto;
      margin-right: 5px;
      background: rgba(63, 82, 92, 0.2);
      padding: 0 8px;
      border-radius: 5px;
      font-size: 0.8rem;
    }
  }

  .list {
    min-height: 20px;
    flex: 1;
  }
}

.cdk-drop-list-dragging {
  background: rgba(0, 255, 0, 0.29);
}
